#start-screen-txt {
  max-width: 700px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

a.cta {
  font-weight: bold;
  margin: 20px 0;
}

.cta.new-line {
  display: inline-block;
  margin-top: 15px;
}

.white-text {
  color: white;
}

.black-bg {
  background-color: black;
}

.dark-green-text {
  color: #2a555e;
}
